/*

              .               oooo   o8o   .o8       
            .o8               `888   `"'  "888       
  .oooo.o .o888oo oooo    ooo  888  oooo   888oooo.  
 d88(  "8   888    `88.  .8'   888  `888   d88' `88b 
 `"Y88b.    888     `88..8'    888   888   888   888 
 o.  )88b   888 .    `888'     888   888   888   888 
 8""888P'   "888"     .8'     o888o o888o  `Y8bod8P' 
                  .o..P'                             
                  `Y8P'                              


*/
.is-clouds {
  background: #ecf0f1;
}

.is-silver {
  background: #bdc3c7;
}

.is-text-midnight {
  color: #2c3e50;
}

* {
  box-sizing: border-box;
}

body, html {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.body_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  align-items: center;
}

.game {
  height: 100%;
  width: 100%;
  max-width: 30rem;
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.15s ease-in-out;
  left: 0;
  position: relative;
}
@media (min-width: 1px) and (max-width: 600px) {
  .game {
    padding: 2rem 1rem;
  }
  .game > * {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 601px) and (max-width: 999px) {
  .game {
    padding: 2rem 1rem;
    font-size: 1.5em;
  }
  .game > * {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 1200px) and (max-width: 9999px) {
  .game {
    font-size: 1.5em;
  }
}

/*

                        .       .    o8o                                  
                      .o8     .o8    `"'                                  
  .oooo.o  .ooooo.  .o888oo .o888oo oooo  ooo. .oo.    .oooooooo  .oooo.o 
 d88(  "8 d88' `88b   888     888   `888  `888P"Y88b  888' `88b  d88(  "8 
 `"Y88b.  888ooo888   888     888    888   888   888  888   888  `"Y88b.  
 o.  )88b 888    .o   888 .   888 .  888   888   888  `88bod8P'  o.  )88b 
 8""888P' `Y8bod8P'   "888"   "888" o888o o888o o888o `8oooooo.  8""888P' 
                                                      d"     YD           
                                                      "Y88888P'           


*/
.settings_hide {
  display: none;
}

.settings_wrap {
  position: absolute;
  height: 100%;
  width: 75%;
  right: 100%;
  display: flex;
  transition: all 0.15s ease-in-out;
  z-index: 90;
}
@media (min-width: 601px) and (max-width: 9999px) {
  .settings_wrap {
    width: 25%;
  }
}
.settings_wrap .settings_btn {
  box-sizing: content-box;
  position: absolute;
  right: -4rem;
  transition: all 0.15s ease-in-out;
  height: 2rem;
  width: 2rem;
  overflow: visible;
}
.settings_wrap .settings_btn:after {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 100%;
  width: 100vw;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.settings_wrap .settings_btn .icon {
  height: 2rem;
  width: 2rem;
  position: absolute;
  transition: all 0.15s ease-in-out;
}
.settings_wrap .settings_btn .gear {
  opacity: 1;
}
.settings_wrap .settings_btn .close {
  opacity: 0;
}
.settings_wrap .settings_content {
  padding: 1rem;
  padding-top: 5rem;
  width: 100%;
}
.settings_wrap .settings_content label {
  width: 100%;
  display: flex;
  padding: 0.5rem 2rem;
  align-items: center;
  font-size: 1.5rem;
}
@media (min-width: 601px) and (max-width: 9999px) {
  .settings_wrap .settings_content label {
    padding: 0.5rem;
  }
}
.settings_wrap .settings_content label .label {
  flex-grow: 1;
}
.settings_wrap .settings_content label .toggle {
  display: flex;
  align-items: center;
  position: relative;
  width: 3.5rem;
  height: 2rem;
  background: #ecf0f1;
  border-radius: 99999px;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.settings_wrap .settings_content label .toggle:after {
  content: "";
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 99999px;
  background: #2c3e50;
  left: 0.25rem;
  transition: all 0.15s ease-in-out;
}
.settings_wrap label {
  cursor: pointer;
  padding: 1rem;
  display: flex;
}

#settings_btn:checked ~ .body_wrap .settings_wrap {
  right: 25%;
}
@media (min-width: 601px) and (max-width: 9999px) {
  #settings_btn:checked ~ .body_wrap .settings_wrap {
    right: 75%;
  }
}
#settings_btn:checked ~ .body_wrap .settings_wrap .settings_btn {
  right: 0;
}
#settings_btn:checked ~ .body_wrap .settings_wrap .settings_btn:after {
  pointer-events: all;
  opacity: 1;
}
#settings_btn:checked ~ .body_wrap .settings_wrap .settings_btn .gear {
  opacity: 0;
}
#settings_btn:checked ~ .body_wrap .settings_wrap .settings_btn .close {
  opacity: 1;
}
#settings_btn:checked ~ .body_wrap .game {
  left: 75%;
}
@media (min-width: 601px) and (max-width: 9999px) {
  #settings_btn:checked ~ .body_wrap .game {
    left: 25%;
  }
}

input#settings_darkmode:checked ~ .body_wrap .settings_wrap label[for=settings_darkmode] .toggle {
  background: #27ae60;
}
input#settings_darkmode:checked ~ .body_wrap .settings_wrap label[for=settings_darkmode] .toggle:after {
  background: #ecf0f1;
  left: 1.75rem;
}

input#settings_darkmode:checked ~ * {
  color: #bdc3c7;
}
input#settings_darkmode:checked ~ * .icon svg path {
  fill: silver !important;
}
input#settings_darkmode:checked ~ .body_wrap {
  background: #2c3e50;
}
input#settings_darkmode:checked ~ .body_wrap .settings_wrap, input#settings_darkmode:checked ~ .body_wrap .game {
  background: #2c3e50;
}
input#settings_darkmode:checked ~ .body_wrap .game .is-clouds {
  background: #34495e;
}
input#settings_darkmode:checked ~ .body_wrap .game .is-silver {
  background: #2c3e50;
}
input#settings_darkmode:checked ~ .body_wrap .game .droppable-highlight {
  background: rgba(22, 160, 133, 0.5);
}
input#settings_darkmode:checked ~ .body_wrap .game .droppable-highlight.drag-within {
  background: #1abc9c;
}

input#settings_hints:checked ~ .body_wrap .settings_wrap label[for=settings_hints] .toggle {
  background: #27ae60;
}
input#settings_hints:checked ~ .body_wrap .settings_wrap label[for=settings_hints] .toggle:after {
  background: #ecf0f1;
  left: 1.75rem;
}

input#settings_hints:checked ~ .body_wrap .game .droppable {
  border: none;
  box-shadow: none;
}
input#settings_hints:checked ~ .body_wrap .game .ui-droppable-active .dragme {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  -webkit-animation: none !important;
          animation: none !important;
}
input#settings_hints:checked ~ .body_wrap .game .droppable-highlight {
  background: #ecf0f1;
}
input#settings_hints:checked ~ .body_wrap .game .droppable-highlight.drop-within {
  background: #ecf0f1;
}

input#settings_darkmode:checked ~ input#settings_hints:checked ~ .body_wrap .game .droppable-highlight {
  background: #34495e;
  border: inherit;
  box-shadow: inherit;
}
input#settings_darkmode:checked ~ input#settings_hints:checked ~ .body_wrap .game .droppable-highlight.drop-within {
  background: #34495e;
}

/*



  .oooo.   oo.ooooo.  oo.ooooo.       oooo    ooo  .oooo.   oooo d8b  .oooo.o 
 `P  )88b   888' `88b  888' `88b       `88.  .8'  `P  )88b  `888""8P d88(  "8 
  .oP"888   888   888  888   888        `88..8'    .oP"888   888     `"Y88b.  
 d8(  888   888   888  888   888         `888'    d8(  888   888     o.  )88b 
 `Y888""8o  888bod8P'  888bod8P'          `8'     `Y888""8o d888b    8""888P' 
            888        888                                                    
           o888o      o888o                                                   


*/
@-webkit-keyframes mergeShake {
  0% {
    transform: rotate(0deg);
  }
  94% {
    transform: rotate(0deg);
  }
  96% {
    transform: rotate(-7deg);
  }
  98% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes mergeShake {
  0% {
    transform: rotate(0deg);
  }
  94% {
    transform: rotate(0deg);
  }
  96% {
    transform: rotate(-7deg);
  }
  98% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*

  .o88o.                                       .    o8o                                 
  888 `"                                     .o8    `"'                                 
 o888oo  oooo  oooo  ooo. .oo.    .ooooo.  .o888oo oooo   .ooooo.  ooo. .oo.    .oooo.o 
  888    `888  `888  `888P"Y88b  d88' `"Y8   888   `888  d88' `88b `888P"Y88b  d88(  "8 
  888     888   888   888   888  888         888    888  888   888  888   888  `"Y88b.  
  888     888   888   888   888  888   .o8   888 .  888  888   888  888   888  o.  )88b 
 o888o    `V88V"V8P' o888o o888o `Y8bod8P'   "888" o888o `Y8bod8P' o888o o888o 8""888P' 




*/
.dragme[data-val="2"] {
  background: rgba(245, 144, 61, 0.67) !important;
  color: hsl(27deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="4"] {
  background: rgba(245, 226, 61, 0.67) !important;
  color: hsl(54deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="8"] {
  background: rgba(181, 245, 61, 0.67) !important;
  color: hsl(81deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="16"] {
  background: rgba(98, 245, 61, 0.67) !important;
  color: hsl(108deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="32"] {
  background: rgba(61, 245, 107, 0.67) !important;
  color: hsl(135deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="64"] {
  background: rgba(61, 245, 190, 0.67) !important;
  color: hsl(162deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="128"] {
  background: rgba(61, 217, 245, 0.67) !important;
  color: hsl(189deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="256"] {
  background: rgba(61, 135, 245, 0.67) !important;
  color: hsl(216deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="512"] {
  background: rgba(70, 61, 245, 0.67) !important;
  color: hsl(243deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="1024"] {
  background: rgba(153, 61, 245, 0.67) !important;
  color: hsl(270deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="2048"] {
  background: rgba(236, 61, 245, 0.67) !important;
  color: hsl(297deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="4096"] {
  background: rgba(245, 61, 171, 0.67) !important;
  color: hsl(324deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="8192"] {
  background: rgba(245, 61, 89, 0.67) !important;
  color: hsl(351deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="16384"] {
  background: rgba(245, 116, 61, 0.67) !important;
  color: hsl(18deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="32768"] {
  background: rgba(245, 199, 61, 0.67) !important;
  color: hsl(45deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="65536"] {
  background: rgba(208, 245, 61, 0.67) !important;
  color: hsl(72deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="131072"] {
  background: rgba(125, 245, 61, 0.67) !important;
  color: hsl(99deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="262144"] {
  background: rgba(61, 245, 80, 0.67) !important;
  color: hsl(126deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="524288"] {
  background: rgba(61, 245, 162, 0.67) !important;
  color: hsl(153deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="1048576"] {
  background: rgba(61, 245, 245, 0.67) !important;
  color: hsl(180deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="2097152"] {
  background: rgba(61, 162, 245, 0.67) !important;
  color: hsl(207deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="4194304"] {
  background: rgba(61, 80, 245, 0.67) !important;
  color: hsl(234deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="8388608"] {
  background: rgba(125, 61, 245, 0.67) !important;
  color: hsl(261deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="16777216"] {
  background: rgba(208, 61, 245, 0.67) !important;
  color: hsl(288deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="33554432"] {
  background: rgba(245, 61, 199, 0.67) !important;
  color: hsl(315deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="67108864"] {
  background: rgba(245, 61, 116, 0.67) !important;
  color: hsl(342deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="134217728"] {
  background: rgba(245, 89, 61, 0.67) !important;
  color: hsl(9deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="268435456"] {
  background: rgba(245, 171, 61, 0.67) !important;
  color: hsl(36deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="536870912"] {
  background: rgba(236, 245, 61, 0.67) !important;
  color: hsl(63deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="1073741824"] {
  background: rgba(153, 245, 61, 0.67) !important;
  color: hsl(90deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="2147483648"] {
  background: rgba(70, 245, 61, 0.67) !important;
  color: hsl(117deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="4294967296"] {
  background: rgba(61, 245, 135, 0.67) !important;
  color: hsl(144deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="8589934592"] {
  background: rgba(61, 245, 217, 0.67) !important;
  color: hsl(171deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="17179869184"] {
  background: rgba(61, 190, 245, 0.67) !important;
  color: hsl(198deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="34359738368"] {
  background: rgba(61, 107, 245, 0.67) !important;
  color: hsl(225deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="68719476736"] {
  background: rgba(98, 61, 245, 0.67) !important;
  color: hsl(252deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="137438953472"] {
  background: rgba(181, 61, 245, 0.67) !important;
  color: hsl(279deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="274877906944"] {
  background: rgba(245, 61, 226, 0.67) !important;
  color: hsl(306deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="549755813888"] {
  background: rgba(245, 61, 144, 0.67) !important;
  color: hsl(333deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="1099511627776"] {
  background: rgba(245, 61, 61, 0.67) !important;
  color: hsl(0deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="2199023255552"] {
  background: rgba(245, 144, 61, 0.67) !important;
  color: hsl(27deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="4398046511104"] {
  background: rgba(245, 226, 61, 0.67) !important;
  color: hsl(54deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="8796093022208"] {
  background: rgba(181, 245, 61, 0.67) !important;
  color: hsl(81deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="17592186044416"] {
  background: rgba(98, 245, 61, 0.67) !important;
  color: hsl(108deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="35184372088832"] {
  background: rgba(61, 245, 107, 0.67) !important;
  color: hsl(135deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="70368744177664"] {
  background: rgba(61, 245, 190, 0.67) !important;
  color: hsl(162deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="140737488355328"] {
  background: rgba(61, 217, 245, 0.67) !important;
  color: hsl(189deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="281474976710656"] {
  background: rgba(61, 135, 245, 0.67) !important;
  color: hsl(216deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="562949953421312"] {
  background: rgba(70, 61, 245, 0.67) !important;
  color: hsl(243deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="1125899906842624"] {
  background: rgba(153, 61, 245, 0.67) !important;
  color: hsl(270deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="2251799813685248"] {
  background: rgba(236, 61, 245, 0.67) !important;
  color: hsl(297deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="4503599627370496"] {
  background: rgba(245, 61, 171, 0.67) !important;
  color: hsl(324deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="9007199254740992"] {
  background: rgba(245, 61, 89, 0.67) !important;
  color: hsl(351deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="18014398509481984"] {
  background: rgba(245, 116, 61, 0.67) !important;
  color: hsl(18deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="36028797018963970"] {
  background: rgba(245, 199, 61, 0.67) !important;
  color: hsl(45deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="72057594037927940"] {
  background: rgba(208, 245, 61, 0.67) !important;
  color: hsl(72deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="144115188075855870"] {
  background: rgba(125, 245, 61, 0.67) !important;
  color: hsl(99deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="288230376151711740"] {
  background: rgba(61, 245, 80, 0.67) !important;
  color: hsl(126deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="576460752303423500"] {
  background: rgba(61, 245, 162, 0.67) !important;
  color: hsl(153deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="1152921504606847000"] {
  background: rgba(61, 245, 245, 0.67) !important;
  color: hsl(180deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="2305843009213694000"] {
  background: rgba(61, 162, 245, 0.67) !important;
  color: hsl(207deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="4611686018427388000"] {
  background: rgba(61, 80, 245, 0.67) !important;
  color: hsl(234deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="9223372036854776000"] {
  background: rgba(125, 61, 245, 0.67) !important;
  color: hsl(261deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="18446744073709552000"] {
  background: rgba(208, 61, 245, 0.67) !important;
  color: hsl(288deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="36893488147419103000"] {
  background: rgba(245, 61, 199, 0.67) !important;
  color: hsl(315deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="73786976294838210000"] {
  background: rgba(245, 61, 116, 0.67) !important;
  color: hsl(342deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="147573952589676410000"] {
  background: rgba(245, 89, 61, 0.67) !important;
  color: hsl(9deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="295147905179352830000"] {
  background: rgba(245, 171, 61, 0.67) !important;
  color: hsl(36deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="590295810358705700000"] {
  background: rgba(236, 245, 61, 0.67) !important;
  color: hsl(63deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="1180591620717411300000"] {
  background: rgba(153, 245, 61, 0.67) !important;
  color: hsl(90deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="2361183241434822600000"] {
  background: rgba(70, 245, 61, 0.67) !important;
  color: hsl(117deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="4722366482869645000000"] {
  background: rgba(61, 245, 135, 0.67) !important;
  color: hsl(144deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="9444732965739290000000"] {
  background: rgba(61, 245, 217, 0.67) !important;
  color: hsl(171deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="18889465931478580000000"] {
  background: rgba(61, 190, 245, 0.67) !important;
  color: hsl(198deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="37778931862957160000000"] {
  background: rgba(61, 107, 245, 0.67) !important;
  color: hsl(225deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="75557863725914320000000"] {
  background: rgba(98, 61, 245, 0.67) !important;
  color: hsl(252deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="151115727451828650000000"] {
  background: rgba(181, 61, 245, 0.67) !important;
  color: hsl(279deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="302231454903657300000000"] {
  background: rgba(245, 61, 226, 0.67) !important;
  color: hsl(306deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="604462909807314600000000"] {
  background: rgba(245, 61, 144, 0.67) !important;
  color: hsl(333deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="1208925819614629200000000"] {
  background: rgba(245, 61, 61, 0.67) !important;
  color: hsl(0deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="2417851639229258300000000"] {
  background: rgba(245, 144, 61, 0.67) !important;
  color: hsl(27deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="4835703278458517000000000"] {
  background: rgba(245, 226, 61, 0.67) !important;
  color: hsl(54deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="9671406556917033000000000"] {
  background: rgba(181, 245, 61, 0.67) !important;
  color: hsl(81deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="19342813113834067000000000"] {
  background: rgba(98, 245, 61, 0.67) !important;
  color: hsl(108deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="38685626227668134000000000"] {
  background: rgba(61, 245, 107, 0.67) !important;
  color: hsl(135deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="77371252455336270000000000"] {
  background: rgba(61, 245, 190, 0.67) !important;
  color: hsl(162deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="154742504910672530000000000"] {
  background: rgba(61, 217, 245, 0.67) !important;
  color: hsl(189deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="309485009821345100000000000"] {
  background: rgba(61, 135, 245, 0.67) !important;
  color: hsl(216deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="618970019642690200000000000"] {
  background: rgba(70, 61, 245, 0.67) !important;
  color: hsl(243deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="1237940039285380300000000000"] {
  background: rgba(153, 61, 245, 0.67) !important;
  color: hsl(270deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="2475880078570760500000000000"] {
  background: rgba(236, 61, 245, 0.67) !important;
  color: hsl(297deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="4951760157141521000000000000"] {
  background: rgba(245, 61, 171, 0.67) !important;
  color: hsl(324deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="9903520314283042000000000000"] {
  background: rgba(245, 61, 89, 0.67) !important;
  color: hsl(351deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="19807040628566084000000000000"] {
  background: rgba(245, 116, 61, 0.67) !important;
  color: hsl(18deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="39614081257132170000000000000"] {
  background: rgba(245, 199, 61, 0.67) !important;
  color: hsl(45deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="79228162514264340000000000000"] {
  background: rgba(208, 245, 61, 0.67) !important;
  color: hsl(72deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="158456325028528680000000000000"] {
  background: rgba(125, 245, 61, 0.67) !important;
  color: hsl(99deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="316912650057057350000000000000"] {
  background: rgba(61, 245, 80, 0.67) !important;
  color: hsl(126deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="633825300114114700000000000000"] {
  background: rgba(61, 245, 162, 0.67) !important;
  color: hsl(153deg, 90%, 18%) !important;
  font-size: 1.5em;
}

.dragme[data-val="1267650600228229400000000000000"] {
  background: rgba(61, 245, 245, 0.67) !important;
  color: hsl(180deg, 90%, 18%) !important;
  font-size: 1.5em;
}

/*



  .oooooooo  .oooo.   ooo. .oo.  .oo.    .ooooo.  
 888' `88b  `P  )88b  `888P"Y88bP"Y88b  d88' `88b 
 888   888   .oP"888   888   888   888  888ooo888 
 `88bod8P'  d8(  888   888   888   888  888    .o 
 `8oooooo.  `Y888""8o o888o o888o o888o `Y8bod8P' 
 d"     YD                                        
 "Y88888P'                                        


*/
.board {
  position: relative;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
}
@media (min-width: 601px) and (max-width: 999px) {
  .board {
    grid-gap: 0.5rem;
  }
}
@media (min-width: 1px) and (max-width: 600px) {
  .board {
    grid-gap: 0.25rem;
  }
}

.source {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  height: 5rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
}
.source .dragme {
  flex: 1;
}
.source .dragme:not(:first-child) {
  margin-left: 1rem;
}
@media (min-width: 601px) and (max-width: 999px) {
  .source {
    height: initial;
    font-size: 1.5rem;
  }
  .source .dragme {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.dragme {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dragme:not(.ui-draggable-dragging) {
  transition: box-shadow 0.15s ease-in-out;
}
.dragme:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.score {
  display: flex;
  margin: 0.5rem 1rem 0;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  font-size: 1.5em;
}
.score:after {
  padding-left: 0.5rem;
  content: "pts";
}

.ui-draggable-dragging {
  z-index: 999;
  opacity: 0.75;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.droppable {
  position: relative;
  transition: all 0.15s ease-in-out;
  display: flex;
  box-shadow: inset 0 2px 3px rgba(10, 10, 10, 0.1), inset 0 0 0 1px rgba(10, 10, 10, 0.1);
  border-radius: 0.25rem;
}
.droppable .dragme {
  margin: 1rem;
  flex-grow: 1;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.droppable-highlight {
  background: #caeed9;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), inset 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid #7f8c8d;
}
.droppable-highlight .dragme {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.droppable-highlight .dragme:not(.ui-draggable-dragging) {
  -webkit-animation: mergeShake 5s infinite;
          animation: mergeShake 5s infinite;
}
.droppable-highlight.drag-within {
  background-color: #90dbaf;
}

li.ui-draggable-dragging {
  list-style: none;
}

.icon {
  display: inline-flex;
  line-height: 1;
  text-rendering: auto;
  box-sizing: border-box;
  text-align: center;
}
.icon svg {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/*

                                  .o88o.               .       .    o8o  
                                  888 `"             .o8     .o8    `"'  
  .ooooo.   .ooooo.  ooo. .oo.   o888oo   .ooooo.  .o888oo .o888oo oooo  
 d88' `"Y8 d88' `88b `888P"Y88b   888    d88' `88b   888     888   `888  
 888       888   888  888   888   888    888ooo888   888     888    888  
 888   .o8 888   888  888   888   888    888    .o   888 .   888 .  888  
 `Y8bod8P' `Y8bod8P' o888o o888o o888o   `Y8bod8P'   "888"   "888" o888o 




*/
@-webkit-keyframes bang {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes bang {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.confetti-drop {
  position: relative;
}
.confetti-drop i {
  visibility: visible;
  z-index: 999;
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  width: 3px;
  height: 5px;
  background: red;
  opacity: 0;
}
.confetti-drop i.more-1 {
  margin-bottom: 15%;
}
.confetti-drop i.more-2 {
  margin-bottom: 30%;
}
.confetti-drop i.more-3 {
  margin-bottom: 45%;
}
.confetti-drop i.more-4 {
  margin-bottom: 60%;
}
.confetti-drop i.more-5 {
  margin-bottom: 75%;
}
.confetti-drop i.more-6 {
  margin-bottom: 90%;
}
.confetti-drop i.more-7 {
  margin-bottom: 100%;
}
.confetti-drop i.more-8 {
  margin-bottom: 100%;
}
.confetti-drop i.more-9 {
  margin-bottom: 100%;
}
.confetti-drop i[fetti-1] {
  transform: translate3d(-18px, -59px, 0) rotate(248deg);
  background: hsl(278deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-1 {
  -webkit-animation-delay: 100ms !important;
          animation-delay: 100ms !important;
}
.confetti-drop i[fetti-2] {
  transform: translate3d(-93px, -98px, 0) rotate(273deg);
  background: hsl(137deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-2 {
  -webkit-animation-delay: 200ms !important;
          animation-delay: 200ms !important;
}
.confetti-drop i[fetti-3] {
  transform: translate3d(36px, -73px, 0) rotate(193deg);
  background: hsl(90deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-3 {
  -webkit-animation-delay: 300ms !important;
          animation-delay: 300ms !important;
}
.confetti-drop i[fetti-4] {
  transform: translate3d(-23px, -85px, 0) rotate(292deg);
  background: hsl(114deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-4 {
  -webkit-animation-delay: 400ms !important;
          animation-delay: 400ms !important;
}
.confetti-drop i[fetti-5] {
  transform: translate3d(-82px, -66px, 0) rotate(111deg);
  background: hsl(86deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-5 {
  -webkit-animation-delay: 500ms !important;
          animation-delay: 500ms !important;
}
.confetti-drop i[fetti-6] {
  transform: translate3d(40px, -77px, 0) rotate(246deg);
  background: hsl(58deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-6 {
  -webkit-animation-delay: 600ms !important;
          animation-delay: 600ms !important;
}
.confetti-drop i[fetti-7] {
  transform: translate3d(-85px, -81px, 0) rotate(317deg);
  background: hsl(241deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-7 {
  -webkit-animation-delay: 700ms !important;
          animation-delay: 700ms !important;
}
.confetti-drop i[fetti-8] {
  transform: translate3d(41px, -79px, 0) rotate(301deg);
  background: hsl(162deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-8 {
  -webkit-animation-delay: 800ms !important;
          animation-delay: 800ms !important;
}
.confetti-drop i[fetti-9] {
  transform: translate3d(21px, -87px, 0) rotate(106deg);
  background: hsl(43deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-9 {
  -webkit-animation-delay: 900ms !important;
          animation-delay: 900ms !important;
}
.confetti-drop i[fetti-10] {
  transform: translate3d(-99px, -63px, 0) rotate(51deg);
  background: hsl(80deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-10 {
  -webkit-animation-delay: 1000ms !important;
          animation-delay: 1000ms !important;
}
.confetti-drop i[fetti-11] {
  transform: translate3d(-60px, -80px, 0) rotate(6deg);
  background: hsl(179deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-11 {
  -webkit-animation-delay: 1100ms !important;
          animation-delay: 1100ms !important;
}
.confetti-drop i[fetti-12] {
  transform: translate3d(-49px, -83px, 0) rotate(214deg);
  background: hsl(211deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-12 {
  -webkit-animation-delay: 1200ms !important;
          animation-delay: 1200ms !important;
}
.confetti-drop i[fetti-13] {
  transform: translate3d(39px, -88px, 0) rotate(328deg);
  background: hsl(105deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-13 {
  -webkit-animation-delay: 1300ms !important;
          animation-delay: 1300ms !important;
}
.confetti-drop i[fetti-14] {
  transform: translate3d(-7px, -81px, 0) rotate(206deg);
  background: hsl(10deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-14 {
  -webkit-animation-delay: 1400ms !important;
          animation-delay: 1400ms !important;
}
.confetti-drop i[fetti-15] {
  transform: translate3d(-81px, -57px, 0) rotate(137deg);
  background: hsl(183deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-15 {
  -webkit-animation-delay: 1500ms !important;
          animation-delay: 1500ms !important;
}
.confetti-drop i[fetti-16] {
  transform: translate3d(37px, -80px, 0) rotate(263deg);
  background: hsl(353deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-16 {
  -webkit-animation-delay: 1600ms !important;
          animation-delay: 1600ms !important;
}
.confetti-drop i[fetti-17] {
  transform: translate3d(49px, -89px, 0) rotate(132deg);
  background: hsl(333deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-17 {
  -webkit-animation-delay: 1700ms !important;
          animation-delay: 1700ms !important;
}
.confetti-drop i[fetti-18] {
  transform: translate3d(-65px, -63px, 0) rotate(6deg);
  background: hsl(73deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-18 {
  -webkit-animation-delay: 1800ms !important;
          animation-delay: 1800ms !important;
}
.confetti-drop i[fetti-19] {
  transform: translate3d(85px, -58px, 0) rotate(344deg);
  background: hsl(268deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-19 {
  -webkit-animation-delay: 1900ms !important;
          animation-delay: 1900ms !important;
}
.confetti-drop i[fetti-20] {
  transform: translate3d(-17px, -66px, 0) rotate(142deg);
  background: hsl(298deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-20 {
  -webkit-animation-delay: 2000ms !important;
          animation-delay: 2000ms !important;
}
.confetti-drop i[fetti-21] {
  transform: translate3d(82px, -97px, 0) rotate(94deg);
  background: hsl(216deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-21 {
  -webkit-animation-delay: 2100ms !important;
          animation-delay: 2100ms !important;
}
.confetti-drop i[fetti-22] {
  transform: translate3d(38px, -83px, 0) rotate(29deg);
  background: hsl(95deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-22 {
  -webkit-animation-delay: 2200ms !important;
          animation-delay: 2200ms !important;
}
.confetti-drop i[fetti-23] {
  transform: translate3d(-76px, -50px, 0) rotate(18deg);
  background: hsl(38deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-23 {
  -webkit-animation-delay: 2300ms !important;
          animation-delay: 2300ms !important;
}
.confetti-drop i[fetti-24] {
  transform: translate3d(74px, -74px, 0) rotate(44deg);
  background: hsl(307deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-24 {
  -webkit-animation-delay: 2400ms !important;
          animation-delay: 2400ms !important;
}
.confetti-drop i[fetti-25] {
  transform: translate3d(-97px, -74px, 0) rotate(347deg);
  background: hsl(218deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-25 {
  -webkit-animation-delay: 2500ms !important;
          animation-delay: 2500ms !important;
}
.confetti-drop i[fetti-26] {
  transform: translate3d(-92px, -88px, 0) rotate(269deg);
  background: hsl(111deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-26 {
  -webkit-animation-delay: 2600ms !important;
          animation-delay: 2600ms !important;
}
.confetti-drop i[fetti-27] {
  transform: translate3d(56px, -59px, 0) rotate(135deg);
  background: hsl(310deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-27 {
  -webkit-animation-delay: 2700ms !important;
          animation-delay: 2700ms !important;
}
.confetti-drop i[fetti-28] {
  transform: translate3d(-21px, -72px, 0) rotate(234deg);
  background: hsl(243deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-28 {
  -webkit-animation-delay: 2800ms !important;
          animation-delay: 2800ms !important;
}
.confetti-drop i[fetti-29] {
  transform: translate3d(79px, -80px, 0) rotate(151deg);
  background: hsl(111deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-29 {
  -webkit-animation-delay: 2900ms !important;
          animation-delay: 2900ms !important;
}
.confetti-drop i[fetti-30] {
  transform: translate3d(-60px, -82px, 0) rotate(96deg);
  background: hsl(122deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-30 {
  -webkit-animation-delay: 3000ms !important;
          animation-delay: 3000ms !important;
}
.confetti-drop i[fetti-31] {
  transform: translate3d(0px, -51px, 0) rotate(145deg);
  background: hsl(183deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-31 {
  -webkit-animation-delay: 3100ms !important;
          animation-delay: 3100ms !important;
}
.confetti-drop i[fetti-32] {
  transform: translate3d(77px, -77px, 0) rotate(134deg);
  background: hsl(313deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-32 {
  -webkit-animation-delay: 3200ms !important;
          animation-delay: 3200ms !important;
}
.confetti-drop i[fetti-33] {
  transform: translate3d(-25px, -58px, 0) rotate(227deg);
  background: hsl(298deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-33 {
  -webkit-animation-delay: 3300ms !important;
          animation-delay: 3300ms !important;
}
.confetti-drop i[fetti-34] {
  transform: translate3d(69px, -85px, 0) rotate(17deg);
  background: hsl(202deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-34 {
  -webkit-animation-delay: 3400ms !important;
          animation-delay: 3400ms !important;
}
.confetti-drop i[fetti-35] {
  transform: translate3d(-58px, -54px, 0) rotate(182deg);
  background: hsl(57deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-35 {
  -webkit-animation-delay: 3500ms !important;
          animation-delay: 3500ms !important;
}
.confetti-drop i[fetti-36] {
  transform: translate3d(-64px, -73px, 0) rotate(70deg);
  background: hsl(12deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-36 {
  -webkit-animation-delay: 3600ms !important;
          animation-delay: 3600ms !important;
}
.confetti-drop i[fetti-37] {
  transform: translate3d(77px, -73px, 0) rotate(66deg);
  background: hsl(183deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-37 {
  -webkit-animation-delay: 3700ms !important;
          animation-delay: 3700ms !important;
}
.confetti-drop i[fetti-38] {
  transform: translate3d(-76px, -68px, 0) rotate(337deg);
  background: hsl(200deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-38 {
  -webkit-animation-delay: 3800ms !important;
          animation-delay: 3800ms !important;
}
.confetti-drop i[fetti-39] {
  transform: translate3d(-42px, -97px, 0) rotate(2deg);
  background: hsl(186deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-39 {
  -webkit-animation-delay: 3900ms !important;
          animation-delay: 3900ms !important;
}
.confetti-drop i[fetti-40] {
  transform: translate3d(-33px, -51px, 0) rotate(320deg);
  background: hsl(128deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-40 {
  -webkit-animation-delay: 4000ms !important;
          animation-delay: 4000ms !important;
}
.confetti-drop i[fetti-41] {
  transform: translate3d(-74px, -77px, 0) rotate(102deg);
  background: hsl(8deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-41 {
  -webkit-animation-delay: 4100ms !important;
          animation-delay: 4100ms !important;
}
.confetti-drop i[fetti-42] {
  transform: translate3d(70px, -71px, 0) rotate(105deg);
  background: hsl(74deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-42 {
  -webkit-animation-delay: 4200ms !important;
          animation-delay: 4200ms !important;
}
.confetti-drop i[fetti-43] {
  transform: translate3d(-30px, -80px, 0) rotate(28deg);
  background: hsl(122deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-43 {
  -webkit-animation-delay: 4300ms !important;
          animation-delay: 4300ms !important;
}
.confetti-drop i[fetti-44] {
  transform: translate3d(-4px, -58px, 0) rotate(244deg);
  background: hsl(80deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-44 {
  -webkit-animation-delay: 4400ms !important;
          animation-delay: 4400ms !important;
}
.confetti-drop i[fetti-45] {
  transform: translate3d(74px, -58px, 0) rotate(225deg);
  background: hsl(316deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-45 {
  -webkit-animation-delay: 4500ms !important;
          animation-delay: 4500ms !important;
}
.confetti-drop i[fetti-46] {
  transform: translate3d(-73px, -54px, 0) rotate(107deg);
  background: hsl(144deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-46 {
  -webkit-animation-delay: 4600ms !important;
          animation-delay: 4600ms !important;
}
.confetti-drop i[fetti-47] {
  transform: translate3d(-53px, -74px, 0) rotate(348deg);
  background: hsl(58deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-47 {
  -webkit-animation-delay: 4700ms !important;
          animation-delay: 4700ms !important;
}
.confetti-drop i[fetti-48] {
  transform: translate3d(-30px, -69px, 0) rotate(288deg);
  background: hsl(120deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-48 {
  -webkit-animation-delay: 4800ms !important;
          animation-delay: 4800ms !important;
}
.confetti-drop i[fetti-49] {
  transform: translate3d(87px, -77px, 0) rotate(335deg);
  background: hsl(24deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-49 {
  -webkit-animation-delay: 4900ms !important;
          animation-delay: 4900ms !important;
}
.confetti-drop i[fetti-50] {
  transform: translate3d(-62px, -92px, 0) rotate(280deg);
  background: hsl(266deg, 100%, 50%);
  -webkit-animation: bang 700ms ease-out forwards;
          animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.confetti-drop i.more-50 {
  -webkit-animation-delay: 5000ms !important;
          animation-delay: 5000ms !important;
}/*# sourceMappingURL=game.css.map */