@import './breakpoints';



/*
 
              .               oooo   o8o   .o8       
            .o8               `888   `"'  "888       
  .oooo.o .o888oo oooo    ooo  888  oooo   888oooo.  
 d88(  "8   888    `88.  .8'   888  `888   d88' `88b 
 `"Y88b.    888     `88..8'    888   888   888   888 
 o.  )88b   888 .    `888'     888   888   888   888 
 8""888P'   "888"     .8'     o888o o888o  `Y8bod8P' 
                  .o..P'                             
                  `Y8P'                              
                                                     
 
*/




/*
 
                                         
                                         
 oooo    ooo  .oooo.   oooo d8b  .oooo.o 
  `88.  .8'  `P  )88b  `888""8P d88(  "8 
   `88..8'    .oP"888   888     `"Y88b.  
    `888'    d8(  888   888     o.  )88b 
     `8'     `Y888""8o d888b    8""888P' 
                                         
                                         
                                         
 
*/

//basic colors
$white: #fff;
$black: #000;

// flatUI colors
$midnight:    #2c3e50;
$asphalt:     #34495e;
$bulma-black: #4a4a4a;
$asbestos:    #7f8c8d;
$concrete:    #95a5a6;
$silver:      #bdc3c7;
$clouds:      #ecf0f1;
$emerald:     #2ecc71;
$nephritis:   #27ae60;
$turquoise:   #1abc9c;
$greensea:    #16a085;
$amethyst:    #9b59b6;
$wisteria:    #8e44ad;
$sunflower:   #f1c40f;
$orange:      #f39c12;
$carrot:      #e67e22;
$pumpkin:     #d35400;
$alizarin:    #e74c3c;
$pomegranate: #c0392b;
$river:       #3498db;
$belize:      #2980b9;

//MDL box-shadows
$shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

$shadow-border: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);

$inset-shadow-1: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
$inset-shadow-2: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
$inset-shadow-3: inset 0 10px 20px rgba(0,0,0,0.19), inset 0 6px 6px rgba(0,0,0,0.23);
$inset-shadow-4: inset 0 14px 28px rgba(0,0,0,0.25), inset 0 10px 10px rgba(0,0,0,0.22);
$inset-shadow-5: inset 0 19px 38px rgba(0,0,0,0.30), inset 0 15px 12px rgba(0,0,0,0.22);

$inset-shadow-border: inset 0 2px 3px rgba(10,10,10,.1), inset 0 0 0 1px rgba(10,10,10,.1);


$main-darker  : #1c3abc;
$maindark     : #026eee;
$main-medium  : #0090ff;
$main-light   : #53b2ff;
$main-lighter : #b9ddff;

$compl-darker : #d74b02;
$compl-dark   : #e16502;
$compl-medium : #ee8402;
$compl-light  : #f49f26;
$compl-lighter: #f8c77e;

$no-dark      : #8d3f3a;
$no-medium    : #cb6463;
$no-light     : #d69fa1;

$yes-dark     : #205135;
$yes-medium   : #3f9a74;
$yes-light    : #8ecdb5;

$bg_light  : $clouds;
$bg_dark   : $silver;
$text_color: $midnight;

$highlight : transparentize($emerald, 0.5);
$high-dark : darken($highlight, 0.25);
$high-light: lighten($highlight, 0.25);


/*
 
                    o8o               o8o              
                    `"'               `"'              
 ooo. .oo.  .oo.   oooo  oooo    ooo oooo  ooo. .oo.   
 `888P"Y88bP"Y88b  `888   `88b..8P'  `888  `888P"Y88b  
  888   888   888   888     Y888'     888   888   888  
  888   888   888   888   .o8"'88b    888   888   888  
 o888o o888o o888o o888o o88'   888o o888o o888o o888o 
*/

@mixin animate {
  transition: all 0.15s ease-in-out;
}



/*
 
  .o8                                    
 "888                                    
  888oooo.   .oooo.    .oooo.o  .ooooo.  
  d88' `88b `P  )88b  d88(  "8 d88' `88b 
  888   888  .oP"888  `"Y88b.  888ooo888 
  888   888 d8(  888  o.  )88b 888    .o 
  `Y8bod8P' `Y888""8o 8""888P' `Y8bod8P' 
*/

* { box-sizing: border-box; }

* {
  --bg-light: $clouds;
  --bg-dark: $silver;

  --text-color: $midnight;


  --highlight: $highlight;
  --highlight-dark: $high-dark;
  --highlight-light: $high-light;
}

body, html { 
  position: relative; 
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.is-light { background: var(--bg-light); }
.is-dark { background: var(--bg-dark); }
.is-text { color: var(--text-color); }

.body_wrap {

  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  align-items: center;  

}



.game {
  height: 100%;
  width: 100%;
  max-width: 30rem; 
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  @include animate;
  left: 0;
  position: relative;
  
  @include respond-to('small'){
    padding: 2rem 1rem;
    & > * {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
  @include respond-to('medium'){
    padding: 2rem 1rem;
    font-size: 1.5em;
    & > * {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
  @include respond-to('large'){
    font-size: 1.5em;
  }
}



/*
 
                        .       .    o8o                                  
                      .o8     .o8    `"'                                  
  .oooo.o  .ooooo.  .o888oo .o888oo oooo  ooo. .oo.    .oooooooo  .oooo.o 
 d88(  "8 d88' `88b   888     888   `888  `888P"Y88b  888' `88b  d88(  "8 
 `"Y88b.  888ooo888   888     888    888   888   888  888   888  `"Y88b.  
 o.  )88b 888    .o   888 .   888 .  888   888   888  `88bod8P'  o.  )88b 
 8""888P' `Y8bod8P'   "888"   "888" o888o o888o o888o `8oooooo.  8""888P' 
                                                      d"     YD           
                                                      "Y88888P'           
                                                                          
 
*/

.settings_hide {
  display: none;
}

.settings_wrap {
  position: absolute;
  height  : 100%;
  width   : 75%;
  right   : 100%;
  display : flex;
  z-index : 90;
  @include animate;
  @include respond-to('medium-up') {
    width: 25%;
  }

  .settings_btn {
    box-sizing: content-box;
    position  : absolute;
    right     : -4rem;
    height    : 2rem;
    width     : 2rem;
    overflow  : visible;
    @include animate;
    
    &:after {
      position: absolute;
      height: 100vh;
      top: 0;
      left: 100%;
      width: 100vw;
      content: '';
      background: rgba(0,0,0,0.5);
      @include animate;
      opacity: 0;
      pointer-events:none;
    }

    .icon {
      height: 2rem;
      width: 2rem;
      position: absolute;
      @include animate;
    }
    .gear {
      opacity: 1;
    }

    .close {
      opacity: 0;
    }
  }

  .settings_content {  
    padding: 1rem;
    padding-top: 5rem;
    width: 100%;

    label {
      width: 100%;
      display: flex;
      padding: 0.5rem 2rem;
      align-items: center;
      font-size: 1.5rem;

      @include respond-to('medium-up') {
        padding: 0.5rem;
      }

      .label {
        flex-grow: 1;
      }

      .toggle {
        display: flex;
        align-items: center;
        position: relative;
        width: 3.5rem;
        height: 2rem;
        background: $bg_light;
        border-radius: 99999px;
        @include animate;
        box-shadow: $shadow-border;
        
        &:after {
          content: '';
          position: absolute;
          height: 1.5rem;
          width: 1.5rem;
          border-radius: 99999px;
          background: $text_color;
          left: 0.25rem;
          @include animate;
        }
      }
    }
  }

  label {
    cursor: pointer;
    padding: 1rem;
    display: flex;
  }
}


#settings_btn:checked {
  & ~ .body_wrap .settings_wrap {
    right: 25%;
    @include respond-to('medium-up') {
      right: 75%;
    }

    .settings_btn {
      right: 0;
      
      &:after {
        pointer-events: all;
        opacity: 1;
      }

      .gear {
        opacity: 0;
      }
      .close {
        opacity: 1;
      }
    }
  } 

  & ~ .body_wrap .game {
    left: 75%;
    @include respond-to('medium-up') {
      left: 25%;
    }
  }
  
}

// dark mode

input#settings_darkmode:checked ~ .body_wrap .settings_wrap label[for="settings_darkmode"] .toggle {
  background: $nephritis;
  &:after {
    background: $clouds;
    left: 1.75rem;

  }
}

input#settings_darkmode:checked {
  & ~ * {
    color: $silver;

    .icon svg path{
      fill: silver !important;
    }
  }
  & ~  .body_wrap {
    background: $midnight;
    .settings_wrap, .game {
      background: $midnight;
    }
  }

  & ~ .body_wrap {
    .is-clouds {
      background: $asphalt;
    }
    .is-silver {
      background: $midnight;
    }
    .droppable-highlight {
      background: transparentize($greensea, 0.5);

      &.drag-within {
        background: $turquoise;
      }
    }
  }
}




// hide hints


input#settings_hints:checked ~ .body_wrap .settings_wrap label[for="settings_hints"] .toggle {
  background: $nephritis;
  &:after {
    background: $clouds;
    left: 1.75rem;

  }
}

input#settings_hints:checked {
  & ~ .body_wrap .game {
    .droppable {
      border: none;
      box-shadow: none;
    }
    .ui-droppable-active .dragme {
      box-shadow: $shadow-border;
      animation: none !important;
    }
    .droppable-highlight {
      background: $bg_light;
      
      &.drop-within {
        background: $bg_light;
      }
    }
  }
}

// darkmode hints

// @todo this can be removed if each drop area gets a wrap, and that gets the background color, 
// while the dropzone gets the highlighted area
input#settings_darkmode:checked ~ input#settings_hints:checked {
  & ~ .body_wrap .game {
    .droppable-highlight {
      background: $bg_light;
      border: inherit;
      box-shadow: inherit;
      
      &.drop-within {
        background: $bg_dark;
      }
    }
  }
}




.button {
  text-decoration: none;
  color: $text_color;
  font-weight: bold;
  padding: 1rem;
  background: $carrot;
  border-radius: 0.5rem;
  margin: 2rem;
  position: relative;
  @include animate;
  top: 0;

  &:hover {
    top: -0.25rem;
  }

  @include respond-to(small) {
    animation: bob 4s linear infinite;
  }
}